body{
   // font-size: 10px !important;
}
table{
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 14px;
}
section{
    height: 100%;
    background-color: #282c34;
    .all{
        background-color: bisque;
    }
}
.containerList{
    color: white;
    
}
