table{
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 14px;
}
section{
    height: 100%;
    background-color: #282c34;
}
.containerList{
    color: white;
    
}
.tableau tr.FR.Active{
    background-color: rgb(28, 10, 129) !important;
}
.table tr.US.Active{
    background-color: green !important;
}
.white-color{
    color: white !important;
}